<template>
  <h3 class="header light blue-text">Bienvenidos a Domoto</h5>
  <h5 class="header light">Desde esta aplicación usted podrá controlar sus dispositivos inteligentes</h5>
  <form novalidate="novalidate">
    <div class="input-field">
      <input id="package" name="package" type="text" class="" maxlength="50" required="required" aria-required="true" value="" />
      <label for="package">Extensón</label>
    </div>
    <button type="submit" class="btn waves-effect waves-light">Instalar</button>
  </form>
</template>