<template>
  <h3 class="header light blue-text">Bienvenidos a Domoto</h5>
  <h5 class="header light">Desde esta aplicación usted podrá controlar sus dispositivos inteligentes</h5>
  <blockquote>
    Para hacer uso de <strong>Domoto</strong> usted debe instalar las extensiones de sus dispositivos inteligentes.
    <em>Ej: <code>domoto-mia-cucina</code></em>
  </blockquote>
  <form novalidate="novalidate">
    <div class="input-field">
      <input id="package" name="package" type="text" class="validate" maxlength="50" required="required" aria-required="true" />
      <label for="package">Extensión</label>
    </div>
    <button type="submit" class="btn waves-effect waves-light">Instalar</button>
  </form>
</template>