<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Domoto</title>
    <link type="text/css" rel="stylesheet" href="/static/css/material-icons.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/libs/Materialize/dist/css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css"  media="screen,projection"/>
  </head>
<body>
  <nav id="nav" class="blue darken-2" role="navigation">
    <a href="#" class="brand-logo center">Domoto</a>
     
    <ul id="menu" class="side-nav fixed grey darken-4 blue-grey-text text-lighten-4">
      <li><a class="grey-text text-lighten-4" href="#">Menu</a></li>
      <li><a class="grey-text text-lighten-4" href="#">Menu</a></li>
      <li><a class="grey-text text-lighten-4" href="#">Menu</a></li>
      <li><a class="grey-text text-lighten-4" href="#">Menu</a></li>
      <li><a class="grey-text text-lighten-4" href="#">Menu</a></li>
    </ul>

    <ul class="left">
      <li>
        <a id="btnCollapseHidden" href="#" data-activates="menu" class="hide">hidden</a>
        <a id="btnCollapse" href="#" class="valign-wrapper show-on-large"><i class="material-icons">menu</i></a>
      </li>
    </ul>
      
    <ul class="right">
      <li>
        <a href="https://gitlab.com/jloboprs/domoto" class="valign-wrapper">
          <img src="/static/img/git.png" title="Codigo fuente" alt="Codigo fuente" class="valign">
        </a>
      </li>
    </ul>
  </nav>

  <header id="header" class="container">
    <h3 class="header light blue-text">Bienvenidos a Domoto</h5>
    <h5 class="header light">Desde esta aplicación usted podrá controlar sus dispositivos inteligentes</h5>
  </header>
  
  <main id="main" class="container">
    <h3>Hola</h3>
  </main>

  <footer id="footer" class="page-footer white">
    <div class="footer-copyright">
      <div class="container black-text">
      Echo por <a class="teal-text " href="https://gitlab.com/u/jloboprs"><b>Joselo</b></a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="/electron/client/externalLinks.js"></script>
  
  <!-- build:remove -->
  <script src="http://localhost:35729/livereload.js"></script>
  <!-- end:build -->
  
  <!-- build:js /js/lib.js -->
  <script>if (typeof module === 'object') {window.__module__ = module; module = undefined;}</script>
  <script type="text/javascript" src="/static/libs/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/static/libs/Materialize/dist/js/materialize.js"></script>
  <script>if (window.__module__) module = window.__module__;</script>
  <!-- endbuild -->

  <!-- build:js /js/app.js -->
  <script type="text/javascript" src="/app/IndexView.js"></script>
  <!-- endbuild -->
</body>
</html>